<h2 class="title">Stupid Coaching!</h2>

<div class="citation">
  <%= @question.capitalize %>
  <p><em>- You</em></p>
</div>
<div class="citation">
  <%= @answer %>
  <p><em>- Your coach</em></p>
</div>

<%= link_to "Go back to questions", "ask" %>
