<h2 class="title">Question to the coach</h2>

<div class="container">
  <div class="row">
    <div class="col-6 col-offset-3">
      <form action="/answer" method="get">
        <div class="input-group mb-3">
          <input type="text" class="form-control" name="question" placeholder="What do you want to ask to the coach?" aria-label="Recipient's username" aria-describedby="button-addon2">
          <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Ask!</button>
        </div>
      </form>
    </div>
  </div>
</div>
